<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsignarUsuario</servlet-name>
        <servlet-class>AsignarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizacarrito</servlet-name>
        <servlet-class>actualizacarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addprod</servlet-name>
        <servlet-class>addprod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>carrito</servlet-name>
        <servlet-class>carrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>compra</servlet-name>
        <servlet-class>compra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comprarahora</servlet-name>
        <servlet-class>comprarahora</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmar</servlet-name>
        <servlet-class>confirmar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmar1</servlet-name>
        <servlet-class>confirmar1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarcompra</servlet-name>
        <servlet-class>eliminarcompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logincliente</servlet-name>
        <servlet-class>logincliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutcliente</servlet-name>
        <servlet-class>logoutcliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutpersonal</servlet-name>
        <servlet-class>logoutpersonal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>moduloCliente</servlet-name>
        <servlet-class>moduloCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>moduloPersonal</servlet-name>
        <servlet-class>moduloPersonal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>moduloProducto</servlet-name>
        <servlet-class>moduloProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>moduloVentas</servlet-name>
        <servlet-class>moduloVentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pagoprescencial</servlet-name>
        <servlet-class>pagoprescencial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>quitarprod</servlet-name>
        <servlet-class>quitarprod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transaccion</servlet-name>
        <servlet-class>transaccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transact</servlet-name>
        <servlet-class>transact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validarpersonal</servlet-name>
        <servlet-class>validarpersonal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsignarUsuario</servlet-name>
        <url-pattern>/AsignarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizacarrito</servlet-name>
        <url-pattern>/actualizacarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addprod</servlet-name>
        <url-pattern>/addprod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>carrito</servlet-name>
        <url-pattern>/carrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>compra</servlet-name>
        <url-pattern>/compra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comprarahora</servlet-name>
        <url-pattern>/comprarahora</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmar</servlet-name>
        <url-pattern>/confirmar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmar1</servlet-name>
        <url-pattern>/confirmar1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarcompra</servlet-name>
        <url-pattern>/eliminarcompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logincliente</servlet-name>
        <url-pattern>/logincliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutcliente</servlet-name>
        <url-pattern>/logoutcliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutpersonal</servlet-name>
        <url-pattern>/logoutpersonal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>moduloCliente</servlet-name>
        <url-pattern>/moduloCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>moduloPersonal</servlet-name>
        <url-pattern>/moduloPersonal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>moduloProducto</servlet-name>
        <url-pattern>/moduloProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>moduloVentas</servlet-name>
        <url-pattern>/moduloVentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pagoprescencial</servlet-name>
        <url-pattern>/pagoprescencial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>quitarprod</servlet-name>
        <url-pattern>/quitarprod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transaccion</servlet-name>
        <url-pattern>/transaccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transact</servlet-name>
        <url-pattern>/transact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validarpersonal</servlet-name>
        <url-pattern>/validarpersonal</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
