/* —————————————————————————————— clear.css —————————————————————————————— */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, textarea
{margin:0;padding:0;border:0;outline:0;font-size:12px;font-weight:normal;vertical-align:top;background:transparent;outline:none;}
b {font-weight:bold;}
i {font-style:italic;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
table {border-collapse:collapse;border-spacing:0;}
a, span {vertical-align:baseline;}
img {vertical-align:top;text-decoration:none;}





/* —————————————————————————————— general styles —————————————————————————————— */
html, body {width:100%;height:100%;}
body {font:normal 12px "Arial", Arial, Helvetica, sans-serif;color:#9b9a97;}

.bold {font-weight:bold;}
.strike {text-decoration:line-through;}
.clear {clear:both;}
br.clear {height:0;clear:both;overflow:hidden;font-size:0;line-height:0;}
noscript ul {list-style-type:none;background:black;color:white;padding:10px;}

.clearfix:after {clear:both;display:block;height:0;font-size:0;visibility:hidden;content:".";}

.hidden,
.collapsed,
.block_hidden_only_for_screen {display:none;}

.center_column p {padding-top:12px;color:#9b9a97;}
.center_column a {color:#636363;text-decoration:underline;}
.center_column a:hover {text-decoration:none;}

.center_column h2 {padding:14px 0 0 0;font:bold 12px "Arial";color:#636363;text-transform:uppercase;}
.center_column h2 span {margin-left:12px;font-weight:normal;color:#9e9d9d;text-transform:none;}
.center_column h3 {padding:14px 0 0 0;font:bold 12px "Arial";color:#636363;text-transform:uppercase;}
.center_column h4 {padding:14px 0 0 0;font:bold 12px "Arial";color:#636363;text-transform:uppercase;}

.center_column span.price {font-weight:bold;color:#f80823;}

p.confirmation {color:#33a33b;font-weight:bold;}

/* footer links */
ul.footer_links {height:16px;clear:both;padding:30px 0 0 0;}
ul.footer_links li {height:16px;float:left;margin:0 25px 0 0;}
ul.footer_links li a {line-height:17px;color:#636363;text-decoration:none;}
ul.footer_links li a:hover {color:#f80823;}
ul.footer_links li img.icon {margin:0 5px 0 0;}

/* id_state field in managed via JS and is firstly hidden */
form p.id_state {display:none;}

/* errors */
div.error {border:2px solid #da0f00;background:#f5f5f5;margin:12px 0 0 0;padding:10px;}
div.error p {padding:0;font-weight:bold;}
div.error ol {padding:0 0 3px 0;}
div.error li {list-style-position:inside;list-style-type:decimal;margin:10px 0;color:#da0f00;}

/* warning */
p.warning {background:#f8e1a0;margin:12px 0 0 0;padding:10px 13px;font-weight:bold;color:#636363;}
.warning_inline {color:#da0f00;font-weight:bold;}

/* success */
p.success {border:2px solid #5eb569;background:#f1f2f4;margin:12px 0 0 0;padding:10px 13px;font-weight:bold;color:#3eab4c;}
.success_inline {color:green;font-weight:bold;}





/* —————————————————————————————— layout —————————————————————————————— */
div#wrapper1 {min-width:991px;min-height:100%;background:#e7e7e7;}
div#wrapper2 {height:100%;}
div#wrapper3 {width:991px;margin:0 auto;background:url(../img/bg_columns.png) 0 0 repeat-y;text-align:left;}

#left_column,
#center_column,
#right_column {float:left;}

#columns {position:relative;}

#left_column {clear:left;width:230px;padding:20px 0 0 20px;}
#center_column {width:470px;padding:20px 0 0 10px;}
#right_column {width:230px;padding:20px 0 0 10px;}





/* ——————————————————————————————————— rte ——————————————————————————————————— */
body#cms div.content_only {padding:0 20px 20px 20px;background:#fff;color:#000;text-align:left;}

body#cms div.content_only h1 {padding:14px 0 0 0;font:normal 18px "Arial";color:#777;text-transform:uppercase;}
body#cms div.content_only h2 {padding:14px 0 0 0;font:bold 14px "Arial";color:#777;text-transform:uppercase;}
body#cms div.content_only h3 {padding:14px 0 0 0;font:bold 12px "Arial";color:#777;text-transform:uppercase;}
body#cms div.content_only h4,
body#cms div.content_only h5,
body#cms div.content_only h6 {padding:14px 0 0 0;font:normal 12px "Arial";color:#777;text-transform:uppercase;}

body#cms div.content_only p {padding-top:12px;font:normal 12px "Arial";color:#000;}
body#cms div.content_only a {font:normal 12px "Arial";color:#0753b4;text-decoration:none;}
body#cms div.content_only a:hover {color:#000;}

body#cms div.content_only ul {list-style-type:circle;list-style-position:inside;}
body#cms div.content_only ol {list-style-type:decimal;list-style-position:inside;}

div.rte strong {font-weight:bold;}
div.rte em {font-style:italic;}

div.rte table {border-collapse:separate;border-spacing:1px;width:auto;}

div.rte caption,
div.rte th,
div.rte td,
div.rte table {text-align:left;font-weight:normal;background:none;height:inherit;border:1px #eee solid;font:normal 12px "Arial";color:#000;text-align:center;}

div.rte th {height:24px;padding:0 7px;background:#eee;font-weight:bold;}





/* ——————————————————————————————————— mce ——————————————————————————————————— */
.mceContentBody {width:556px;margin:9px 6px;background:#fff;font:normal 12px "Arial";color:#000;text-align:left;}
body.mceContentBody {background-image:none;}

.mceContentBody html, .mceContentBody div, .mceContentBody span, .mceContentBody applet, .mceContentBody object, .mceContentBody iframe, .mceContentBody h1,
.mceContentBody h2, .mceContentBody h3, .mceContentBody h4, .mceContentBody h5, .mceContentBody h6, .mceContentBody p, .mceContentBody blockquote,
.mceContentBody pre, .mceContentBody a, .mceContentBody abbr, .mceContentBody acronym, .mceContentBody address, .mceContentBody big, .mceContentBody cite,
.mceContentBody code, .mceContentBody del, .mceContentBody dfn, .mceContentBody em, .mceContentBody font, .mceContentBody img, .mceContentBody ins,
.mceContentBody kbd, .mceContentBody q, .mceContentBody s, .mceContentBody samp, .mceContentBody small, .mceContentBody strike, .mceContentBody strong,
.mceContentBody sub, .mceContentBody sup, .mceContentBody tt, .mceContentBody var, .mceContentBody dl, .mceContentBody dt, .mceContentBody dd,
.mceContentBody ol, .mceContentBody ul, .mceContentBody li, .mceContentBody fieldset, .mceContentBody form, .mceContentBody label, .mceContentBody legend,
.mceContentBody table, .mceContentBody caption, .mceContentBody tbody, .mceContentBody tfoot, .mceContentBody thead, .mceContentBody tr, .mceContentBody th,
.mceContentBody td {
margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;
}

.mceContentBody h1 {padding:14px 0 0 0;font:normal 18px "Arial";color:#777;text-transform:uppercase;}
.mceContentBody h2 {padding:14px 0 0 0;font:bold 14px "Arial";color:#777;text-transform:uppercase;}
.mceContentBody h3 {padding:14px 0 0 0;font:bold 12px "Arial";color:#777;text-transform:uppercase;}
.mceContentBody h4,
.mceContentBody h5,
.mceContentBody h6 {padding:14px 0 0 0;font:normal 12px "Arial";color:#777;text-transform:uppercase;}

.mceContentBody p {margin:7px;font:normal 12px "Arial";color:#000;}
.mceContentBody a {font:normal 12px "Arial";color:#0753b4;text-decoration:underline;}

.mceContentBody ul {list-style-type:circle;list-style-position:inside;}
.mceContentBody ol {list-style-type:decimal;list-style-position:inside;}

.mceContentBody strong {font-weight:bold;}
.mceContentBody em {font-style:italic;}

.mceContentBody table {border-collapse:separate;border-spacing:1px;width:auto;}

.mceContentBody caption,
.mceContentBody th,
.mceContentBody td,
.mceContentBody table {text-align:left;font-weight:normal;background:none;height:inherit;border:1px #eee solid;font:normal 12px "Arial";color:#000;text-align:center;}

.mceContentBody th {height:24px;padding:0 7px;background:#eee;font-weight:bold;}





/* —————————————————————————————— buttons —————————————————————————————— */
/*
   -tags: input, a, span
   -sizes: mini, small, normal, large
   -types: button, exlusive
   -status: normal, hover, disabled
   -rule: the span.button is a a.button disabled
*/

/* global button */
input.button_mini, input.button_small, input.button, input.button_large,
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
a.button_mini, a.button_small, a.button, a.button_large,
a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large,
span.button_mini, span.button_small, span.button, span.button_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large 
{height:27px !important;display:block;font:bold 12px "Arial" !important;color:#fff !important;background:url(../img/btn_button.png) 0 0 repeat-x;border:1px solid #eaeaea;text-align:center;text-decoration:none;cursor:pointer;}

/* link/span button */
a.button_mini, a.button_small, a.button, a.button_large,
a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large,
span.button_mini, span.button_small, span.button, span.button_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large {height:25px !important;line-height:25px !important;}

/* firefox padding fix for input tag */
@-moz-document url-prefix() {
input.button_mini, input.button_small, input.button, input.button_large,
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled
{padding-bottom:2px;}
}

/* disabled button */
input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
span.button_mini, span.button_small, span.button, span.button_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large {cursor:default;color:#ccc !important;}

/* exclusive button */
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large,
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large {background:url(../img/btn_exclusive.png) 0 0 repeat-x;color:#636363 !important;}

/* exclusive disabled button */
input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled,
span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large {color:#bbb !important;}

/* hover button */
input.button_mini:hover, input.button_small:hover, input.button:hover, input.button_large:hover,
a.button_mini:hover, a.button_small:hover, a.button:hover, a.button_large:hover {background:#929292;text-decoration:none !important;}

/* exclusive hover button */
input.exclusive_mini:hover, input.exclusive_small:hover, input.exclusive:hover, input.exclusive_large:hover, a.exclusive_mini:hover,
a.exclusive_small:hover, a.exclusive:hover, a.exclusive_large:hover {background:#f7f7f7;text-decoration:none !important;}

/* classic buttons */
input.button_mini, input.button_mini_disabled, input.exclusive_mini, input.exclusive_mini_disabled, a.button_mini,
a.exclusive_mini, span.button_mini, span.exclusive_mini {width:50px;}

input.button_small, input.button_small_disabled, input.exclusive_small, input.exclusive_small_disabled,
a.button_small, a.exclusive_small, span.button_small, span.exclusive_small {width:65px;}

input.button, input.button_disabled, input.exclusive, input.exclusive_disabled,
a.button, a.exclusive, span.button, span.exclusive {width:114px;}

input.button_large, input.button_large_disabled, input.exclusive_large, input.exclusive_large_disabled,
a.button_large, a.exclusive_large, span.button_large, span.exclusive_large {width:180px;}

/* exclusive button */
input.exclusive, input.exclusive_disabled, a.exclusive, span.exclusive {}
input.exclusive_mini, input.exclusive_mini_disabled, a.exclusive_mini, span.exclusive_mini {}
input.exclusive_small, input.exclusive_small_disabled, a.exclusive_small, span.exclusive_small {}
input.exclusive_large, input.exclusive_large_disabled, a.exclusive_large, span.exclusive_large {}





/* —————————————————————————————— global table styles —————————————————————————————— */
div.table_block {padding:17px 0 0 0;}
table.std {width:100%;}

table.std td,
table.std th {padding:7px;vertical-align:middle;}

table.std tr.item td,
table.std tr.item th {}

table.std tr.alternate_item td,
table.std tr.alternate_item th {}

table.std tbody tr td {border-bottom:1px solid #eee;}
table.std tfoot tr td {border-bottom:2px solid #eee;}

table.std th {height:25px;padding:0 7px;background:#eee;font-weight:bold;color:#636363;text-align:left;white-space:nowrap;}
table.std tfoot td {color:#636363;text-align:right;white-space:nowrap;}





/* —————————————————————————————— global form styles —————————————————————————————— */
form.std {clear:both;}
form.std h3 {padding:14px 5px 5px 0;border-bottom:2px solid #eee;}

form.std fieldset {border:none;}

form.std h4,
form.std p {padding:12px 0 0 0;clear:both;}

form.std .text label,
form.std .password label,
form.std .textarea label,
form.std .select label,
form.std .radio span,
form.std .checkbox span {float:left;text-align:right;width:150px;padding:2px 7px 0 0;}

input,
textarea,
select,
span.editable {font-size:12px;font:normal 12px "Arial";color:#555;}

input,
textarea,
select {background:#fff;border:1px solid #bdc2c9;}

select {height:19px;}
textarea {padding:1px;}
input.text {height:15px;padding:1px;}

.required sup {vertical-align:top;font:normal 13px "Tahoma";color:#da0f00;}

/* radio & checkboxes */
form.std p.radio,
form.std p.checkbox {overflow:hidden;}

form.std p.checkbox {padding-left:157px;}

form.std .checkbox input,
form.std .radio input {display:block;float:left;border:none;position:relative;top:3px;left:0;}

*+html .checkbox input {margin:-3px 0 0 -4px;}
*+html .radio input {margin:-3px 0 0 -4px;}

form.std .checkbox label,
form.std .radio label {width:auto;float:left;padding:2px 15px 0 5px;}





/* —————————————————————————————— header styles —————————————————————————————— */
div#header {padding:218px 0 0 0;background:url(../img/bg_header.png) 0 0 no-repeat;position:relative;height:1%;}

h1#logo {position:absolute;left:34px;top:54px;z-index:1;}
h1#logo a {width:245px;height:63px;display:block;}

div#header_right {}


/* ————— blockcurrencies.tpl ————— */
div#currencies_block_top {position:absolute;right:20px;top:44px;z-index:1;}
div#currencies_block_top label {display:block;float:left;padding:3px 10px 0 0;color:#5d5c5c;}
div#currencies_block_top select {width:100px;height:21px;padding:1px;background:#fff;border:1px solid #efefef;color:#b9b8b8;}


/* ————— blocklanguages.tpl ————— */
div#languages_block_top {position:absolute;right:200px;top:44px;z-index:1;}
div#languages_block_top ul#first-languages {width:84px;float:left;}
div#languages_block_top ul#first-languages li {width:28px;height:22px;float:left;}
div#languages_block_top ul#first-languages li.selected_language {background:url(../img/lang_active.png) 0 0 no-repeat;}
div#languages_block_top ul#first-languages li img {width:18px;height:12px;margin:5px 0 0 5px;}


/* ————— blockuserinfo.tpl ————— */
div#header_user ul {position:absolute;right:20px;top:79px;z-index:1;color:#000;}
div#header_user ul li {}

div#header_user ul li#header_user_info {color:#b9b9b9;text-align:right;}
div#header_user ul li#header_user_info a {color:#b9b9b9;text-decoration:none;text-transform:lowercase;}
div#header_user ul li#header_user_info a:hover {color:#454444;}
div#header_user ul li#header_user_info a#your_account {margin:0 0 0 15px;font-weight:bold;color:#454444;text-transform:none;}
div#header_user ul li#header_user_info a#your_account:hover {text-decoration:underline;}
div#header_user ul li#header_user_info span {font-weight:bold;color:#454444;}

div#header_user ul li#shopping_cart {height:20px;float:right;margin:6px 0 0 0;padding:2px 0 0 25px;background:url(../img/header_cart.png) 0 0 no-repeat;text-align:right;}
div#header_user ul li#shopping_cart span {color:#b9b9b9;}
div#header_user ul li#shopping_cart div {display:inline;margin:0 0 0 3px;}
div#header_user ul li#shopping_cart div span {font-weight:bold;color:#f80823;}
div#header_user ul li#shopping_cart div span.hidden {display:none;}


/* ————— blockpermanentlinks-header.tpl ————— */
ul#header_links {position:absolute;left:0;top:150px;z-index:1;}
ul#header_links li {height:67px;float:left;background:url(../img/headerlink.png) right 0 no-repeat;}
ul#header_links li a {height:44px;display:block;padding:23px 27px 0 27px;font:bold 16px "Arial";color:#8e8e8e;text-transform:uppercase;text-decoration:none;text-align:center;}

ul#header_links li a:hover,
ul#header_links li a.active {color:#000;}


/* ————— blocksearch-top.tpl ————— */
#header_right #search_block_top {width:252px;height:29px;background:#eee;position:absolute;right:17px;top:170px;z-index:1;}

#header_right #search_block_top form#searchbox {position:relative;}
#header_right #search_block_top input#search_query {width:175px;height:15px;float:left;padding:6px;background:#fdfdfd;border:1px solid #f0f0f0;}
#header_right #search_block_top a {height:23px;padding:6px 14px 0 19px;display:block;background:url(../img/search_btn.png) 0 0 no-repeat;font:bold 13px "Arial";color:#fff;text-decoration:none;text-align:center;position:absolute;right:0;top:0;}


/* ————— carouselnc.tpl ————— */
.loading {position:absolute;left:375px;top:205px;}

#slide_holder {width:971px;height:410px;padding:19px 0 0 20px;background:url(../img/slideshow_bg.png) 0 0 no-repeat;overflow:hidden;position:relative;z-index:100;}
#slide_holder_inner {width:950px;height:410px;z-index:2000;}

#slide_holder div.slide {width:950px;height:410px;}

#intro,
.intro {position:absolute;z-index:9000;}

#slide_holder_inner div {position:absolute;}

div#slide_holder_inner div.slide div {position:relative;}

div#carousel_controls {position:relative;z-index:9000;}

div#carousel_controls ul#slide_buttons {width:39px;height:11px;position:absolute;right:44px;top:378px;}
div#carousel_controls ul#slide_buttons li {width:11px;height:11px;float:left;margin:0 0 0 3px;}
div#carousel_controls ul#slide_buttons li:first-child {margin:0;}
div#carousel_controls ul#slide_buttons li span {width:11px;height:0;display:block;padding:11px 0 0 0;overflow:hidden;background:url(../img/slideshow_item.png) 0 0 no-repeat;cursor:pointer;}
div#carousel_controls ul#slide_buttons li#button_selected span {background:url(../img/slideshow_item_active.png) 0 0 no-repeat;}

div#carousel_controls div#prev_button {width:11px;height:0;padding:17px 0 0 0;overflow:hidden;background:url(../img/slideshow_prev.png) 0 0 no-repeat;cursor:pointer;position:absolute;right:96px;top:376px;}
div#carousel_controls div#next_button {width:11px;height:0;padding:17px 0 0 0;overflow:hidden;background:url(../img/slideshow_next.png) 0 0 no-repeat;cursor:pointer;position:absolute;right:21px;top:376px;}

div#carousel_controls div#prev_button:hover {background:url(../img/slideshow_prev_hover.png) 0 0 no-repeat;}
div#carousel_controls div#next_button:hover {background:url(../img/slideshow_next_hover.png) 0 0 no-repeat;}





/* —————————————————————————————— left && right column blocks styles —————————————————————————————— */
/* ————— general block styles ————— */
div.column {}
div.column a {color:#9e9d9d;text-decoration:none;}
div.column a:hover {text-decoration:underline;}

div.column div.block h4 {padding:13px 20px;background:url(../img/block_header.png) 0 bottom repeat-x #fff;border:1px solid #efefef;font:bold 14px "Arial";color:#7b7b7b;text-transform:uppercase;}
div.column div.block h4 a {font:bold 14px "Arial";color:#7b7b7b;text-transform:uppercase;}

div.column div.block .block_content {padding:0 20px 40px 20px;}

div.column div.block ul.bullet {padding-top:8px;}
div.column div.block ul.bullet li {padding:4px 0 0 12px;background:url(../img/bullet.gif) 0 8px no-repeat;}


/* ————— blockcategories.tpl ————— */
div#categories_block_left ul.tree {padding:1px 0 0 0;}
div#categories_block_left ul.tree li {padding:12px 0 0 0;position:relative;}

div#categories_block_left ul.tree li a {width:161px;height:15px;display:block;padding:0 0 0 29px;background:url(../img/bullet_category.png) 0 0 no-repeat;color:#9e9d9d;}
div#categories_block_left ul.tree li a:hover {background:url(../img/bullet_category_active.png) 0 0 no-repeat;text-decoration:none;color:#636363;}
div#categories_block_left ul.tree li a.selected {background:url(../img/bullet_category_active.png) 0 0 no-repeat;color:#636363;font-weight:bold;}

div#categories_block_left ul.tree li ul {zoom:1;}
div#categories_block_left ul.tree li ul li {padding:10px 0 0 0;}

div#categories_block_left ul.tree li ul li a {width:153px;padding:0 0 0 37px;background:url(../img/bullet_subcategory.png) 24px 5px no-repeat;}
div#categories_block_left ul.tree li ul li a:hover {background:url(../img/bullet_subcategory.png) 24px 5px no-repeat;}
div#categories_block_left ul.tree li ul li a.selected {background:url(../img/bullet_subcategory.png) 24px 5px no-repeat;font-weight:bold;}

div#categories_block_left span.grower {width:15px;height:15px;display:block;cursor:pointer;position:absolute;left:-20px;top:12px;z-index:1;}
div#categories_block_left span.OPEN {background:url(../img/categories_minus.gif) 3px 3px no-repeat;}
div#categories_block_left span.CLOSE {background:url(../img/categories_plus.gif) 3px 3px no-repeat;}


/* ————— blocktags.tpl ————— */
div#tags_block_left p.block_content {text-align:justify;padding-top:10px;}
div#tags_block_left p.block_content a {margin:0 3px 0 0;line-height:20px;}
div#tags_block_left p.block_content a:hover {color:#fff;background:#e00606;text-decoration:none;}
a.tag_level1 {font-size:13px;}
a.tag_level2 {font-size:15px;}
a.tag_level3 {font-size:17px;font-weight:bold;}


/* ————— blocknewsletter.tpl ————— */
div#newsletter_block_left {}
div#newsletter_block_left p {}
div#newsletter_block_left input {width:188px;height:17px;margin:10px 0 0 0;}
div#newsletter_block_left select {width:190px;margin:10px 0 0 0;}
div#newsletter_block_left input.button_mini {width:50px;text-transform:capitalize;}


/* ————— blockmyaccount.tpl ————— */
div.column div.myaccount p.logout {padding:4px 0 0 12px;}
div.column div.myaccount p.logout a {font-weight:bold;}


/* ————— blocklink.tpl ————— */


/* ————— blockmanufacturer.tpl && blocksupplier.tpl ————— */
.blockmanufacturer ul,
.blocksupplier ul {}

.blockmanufacturer select,
.blocksupplier select {width:190px;margin:13px 0 0 0;}


/* ————— blockinfos.tpl ————— */
div#informations_block_left ul {padding-top:8px;}
div#informations_block_left ul li {padding:4px 0 0 12px;background:url(../img/bullet.gif) 0 8px no-repeat;}


/* ————— blockrss.tpl ————— */
div#rss_block_left ul {padding-top:8px;}
div#rss_block_left ul li {padding:4px 0 0 12px;background:url(../img/bullet.gif) 0 8px no-repeat;}


/* ————— blockadvertising.tpl ————— */
.advertising_block {width:230px;margin:0 0 40px 0;text-align:center;}


/* ————— blockpaymentlogo.tpl ————— */
div.paiement_logo_block {width:230px;margin:0 0 40px 0;text-align:center;}
div.paiement_logo_block a {text-decoration:none;}
div.paiement_logo_block img {margin:0 5px;}


/* ————— blockcart.tpl ————— */
.transferProduct {border:2px solid #f80823;}

#cart_block h4 {}
#cart_block h4 span {margin:0 0 0 5px;padding:0 0 0 10px;cursor:pointer;}
#cart_block h4 span#block_cart_collapse {background:url(../img/icon/sort_asc.gif) 0 3px no-repeat;}
#cart_block h4 span#block_cart_expand {background:url(../img/icon/sort_desc.gif) 0 3px no-repeat;}

#cart_block #cart_block_no_products {padding:19px 0 8px 0;font:bold 12px "Arial";color:#f80823;}

#cart_block #cart_block_summary {padding:11px 0 0 0;}
#cart_block #cart_block_summary span {}
#cart_block #cart_block_summary span.ajax_cart_total {margin:0 0 0 5px;font-weight:bold;}

#cart_block dl {padding:12px 0 8px 0;}
#cart_block dl dt {height:15px;padding:7px 0 0 0;clear:both;}
#cart_block dl dd {clear:both;}

#cart_block span.quantity-formated {padding:0 2px 0 0;float:left;font:normal 10px/17px "Arial";letter-spacing:1px;}
#cart_block span.quantity-formated span.quantity {font-size:10px;}

#cart_block dl a {text-decoration:underline;}
#cart_block dl a:hover {text-decoration:none;}
#cart_block dl dt a {float:left;}
#cart_block dl dt span.price {font-weight:bold;float:right;color:#636363;}
#cart_block dl dd a {padding:0 0 0 13px;font-style:italic;}

#cart_block a.ajax_cart_block_remove_link {width:11px;height:13px;margin:0 0 0 5px;float:right;font-size:0;display:block;background:url(../img/icon/delete.gif) 0 bottom no-repeat;}
#cart_block a.ajax_cart_block_remove_link:hover {text-decoration:none;}

#cart_block table#vouchers {width:100%;margin:0 0 10px 0;}
#cart_block table#vouchers tr td.price {font-weight:bold;text-align:right;}
#cart_block table#vouchers tr td.delete {width:16px;text-align:right;}
#cart_block table#vouchers tr td.delete a {width:11px;height:13px;font-size:0;display:block;float:right;background:url(../img/icon/delete.gif) 0 bottom no-repeat;}
#cart_block table#vouchers tr td.delete a img {display:none;}

#cart_block ul.cart_block_customizations {padding:0 0 0 13px;}
#cart_block ul.cart_block_customizations div.deleteCustomizableProduct {width:11px;float:right;}
#cart_block ul.cart_block_customizations div.deleteCustomizableProduct a {float:right;margin:0;padding:0;font-size:0;}

#cart_block div.cart-prices {}
#cart_block div.cart-prices div.cart-prices-block {height:27px;margin:0 0 10px 0;border:1px solid #eee;}
#cart_block div.cart-prices span {float:left;padding:6px 0 0 7px;color:#bdbdbd;}

#cart_block div.cart-prices span#cart_block_shipping_cost,
#cart_block div.cart-prices span#cart_block_total {float:right;padding:6px 7px 0 0;font:bold 12px "Arial";color:#636363;}

#cart_block p#cart-buttons {height:29px;}
#cart_block p#cart-buttons a {float:left;}
#cart_block p#cart-buttons a#button_order_cart {margin:0 0 0 2px;}


/* ————— blockspecials.tpl ————— */
#special_block_right {margin:0 0 10px 0;}
#special_block_right h4 {padding:14px 20px;background:url(../img/block_specials_header.png) 0 bottom repeat-x #f10909;border:none;font:bold 14px "Arial";color:#fff;text-transform:uppercase;}
#special_block_right h4 a {color:#fff;}

#special_block_right .block_content {margin:10px 0 0 0;padding:0 19px 13px 19px;border:1px solid #f5f5f5;}
#special_block_right a.special_image {width:180px;height:120px;display:block;margin:15px auto 0 auto;}

#special_block_right h5 {padding:10px 0 0 0;}
#special_block_right h5 a {font:bold 12px "Arial";color:#636363;text-decoration:none;}
#special_block_right h5 a:hover {text-decoration:underline;}

#special_block_right p.special_desc {padding:5px 0 0 0;}
#special_block_right p.special_desc a {color:#9e9d9d;text-decoration:none;}
#special_block_right p.special_desc a:hover {text-decoration:underline;}

#special_block_right div {padding:12px 0 0 0;}
#special_block_right div p.special_prices {width:65px;height:40px;float:left;}
#special_block_right div p.special_prices span.price-discount {display:block;font:normal 14px "Arial";color:#7b7b7b;text-decoration:line-through;}
#special_block_right div p.special_prices span.price {display:block;padding:4px 0 0 0;font:bold 14px "Arial";color:#f80823;}


#special_block_right a.exclusive {float:right;margin:4px 0 0 0;}


/* block products (new products, top sellers, viewed products) on left and right column */
.products_block ul li {margin:0 0 10px 0;}

.products_block dl {clear:both;padding:2px 0 0 0;border-top:1px solid #ccc;}
.products_block dl dt {margin:5px 0 0 0;}
.products_block dl dt a {font-weight:bold;color:#636363;}
.products_block dl dd a {font-size:11px;}
.products_block dl dd a img {margin:5px 0 0 0;}

.products_block p a.button_large {margin:8px 0 0 0;color:#fff;}


/* ————— blocknewproducts.tpl ————— */
div#new-products_block_right .block_content {padding-top:10px;}


/* ————— blockbestsellers.tpl ————— */
div#best-sellers_block_right .block_content {padding-top:10px;}


/* ————— blockviewed.tpl ————— */
div#viewed-products_block_left .block_content {padding:10px;}
div#viewed-products_block_left ul li.last_item {margin:0;}
div#viewed-products_block_left h5 {padding:5px 0 0 0;}
div#viewed-products_block_left h5 a {font-weight:bold;color:#636363;}
div#viewed-products_block_left p {font-size:11px;}
div#viewed-products_block_left p img {margin:4px 0 0 4px;}





/* —————————————————————————————— center column styles —————————————————————————————— */
/* ————— breadcrumb.tpl ————— */
.breadcrumb {padding:0;color:#b1b1b1;}
.breadcrumb .navigation-pipe {padding:0 6px;font-size:9px;color:#b1b1b1;}

.breadcrumb .navigation_page,
.breadcrumb .navigation_end,
.breadcrumb .navigation_product {color:#e63838;}

.breadcrumb a {color:#b1b1b1;text-decoration:none;}
.breadcrumb a:hover {color:#e63838;}





/* —————————————————————————————— product pages —————————————————————————————— */
/* ——— homepage styles ——— */
body#index div#left_column {padding:220px 0 0 20px;}
body#index div#center_column {padding:220px 0 0 10px;}
body#index div#right_column {padding:220px 0 0 10px;}

/* ——— homecarousel.tpl ——— */
div#homecarousel {
	width:991px;
	height:180px;
	padding:5px 0 0 0;
	overflow:hidden;
	position:absolute;
	left:0;
	top:0;
	background-color: #FFFFFF;
}
div#homecarousel h4 {display:none;}

div.jcarousel-clip {width:909px !important;height:160px;margin:0 0 0 41px;overflow:hidden;position:relative;}

div#homecarousel ul {height:160px !important;overflow:hidden !important;}
div#homecarousel ul li {width:216px !important;height:160px;float:left;padding:0 15px 0 0;background:url(../img/carousel_item.png) 0 0 no-repeat;position:relative;}

div#homecarousel ul li a.product_image {width:216px;height:125px;display:block;text-align:center;position:relative;}
div#homecarousel ul li a.product_image img {margin:2px 0 0 0;}

div#homecarousel ul li h5 {padding:8px 9px 0 9px;}
div#homecarousel ul li h5 a {font:normal 12px "Arial";color:#636363;text-decoration:none;}
div#homecarousel ul li h5 a:hover {text-decoration:underline;}

div.jcarousel-prev {width:21px;height:34px;background:url(../img/carousel_prev.png) 0 0 no-repeat;overflow:hidden;position:absolute;left:14px;top:60px;cursor:pointer;}
div.jcarousel-next {width:21px;height:34px;background:url(../img/carousel_next.png) 0 0 no-repeat;overflow:hidden;position:absolute;right:14px;top:60px;cursor:pointer;}

div.jcarousel-prev:hover {background:url(../img/carousel_prev_hover.png) 0 0 no-repeat;}
div.jcarousel-next:hover {background:url(../img/carousel_next_hover.png) 0 0 no-repeat;}

div.jcarousel-prev-disabled {background:url(../img/carousel_prev.png) 0 0 no-repeat !important;cursor:default;}
div.jcarousel-next-disabled {background:url(../img/carousel_next.png) 0 0 no-repeat !important;cursor:default;}


/* ————— homefeatured.tpl ————— */
div#featured-products_block_center {}
div#featured-products_block_center h4 {padding:13px 20px;background:url(../img/block_header.png) 0 bottom repeat-x #fff;border:1px solid #efefef;font:bold 14px "Arial";color:#7b7b7b;text-transform:uppercase;}
div#featured-products_block_center ul {width:480px;overflow:hidden;}
div#featured-products_block_center ul li {width:190px;height:262px;float:left;margin:10px 10px 0 0;padding:0 19px;border:1px solid #f5f5f5;position:relative;}

div#featured-products_block_center ul li a.product_image {width:180px;height:120px;display:block;margin:20px auto 0 auto;}

div#featured-products_block_center ul li h5 {padding:7px 0 0 0;}
div#featured-products_block_center ul li h5 a {font:bold 12px "Arial";color:#636363;text-decoration:none;}
div#featured-products_block_center ul li h5 a:hover {text-decoration:underline;}

div#featured-products_block_center ul li p.product_desc {padding:5px 0 0 0;}
div#featured-products_block_center ul li p.product_desc a {color:#9e9d9d;text-decoration:none;}
div#featured-products_block_center ul li p.product_desc a:hover {text-decoration:underline;}

div#featured-products_block_center ul li div {height:29px;padding:16px 0 0 0;}

div#featured-products_block_center ul li div span.price {display:block;float:left;padding:6px 0 0 0;font:bold 15px "Arial";color:#7b7b7b;}
div#featured-products_block_center ul li div .exclusive {float:right;}

div#featured-products_block_center ul li p.buttons {padding:0;}
div#featured-products_block_center ul li p.buttons a {margin:6px 0 0 0;}


/* ————— category.tpl ————— */
h2.category_title {}
div#subcategories ul.inline_list {padding:17px 0 0 0;}
div#subcategories ul.inline_list li {float:left;margin-right:20px;}
div#subcategories ul.inline_list li a img {display:inline;}

img#categoryImage {margin:14px 0 0 0;}
div.cat_desc {padding:15px 0 0 0;}


/* ————— product-sort.tpl ————— */
form#productsSortForm p {height:20px;padding:21px 0 0 0;}

form#productsSortForm p label,
form#productsSortForm p select {float:right;}

form#productsSortForm p label {display:block;padding:2px 12px 0 0;color:#9b9a97;text-transform:lowercase;}
form#productsSortForm p select {width:130px;border:1px solid #e1e1e1;font-size:11px;color:#9b9a97;}


/* ————— product-list.tpl ————— */
ul#product_list {padding:21px 0 0 0;}
ul#product_list li {height:277px;margin:20px 0 0 0;border:1px solid #f5f5f5;}
ul#product_list li:first-child {margin:0;}

ul#product_list li a.product_img_link {width:110px;height:110px;display:block;float:left;margin:14px 0 0 12px;}

ul#product_list li div.center_block {width:188px;float:left;margin:0 0 0 11px;}

ul#product_list li div.center_block h3 {height:30px;padding:32px 0 0 0;}
ul#product_list li div.center_block h3 a {font:bold 12px "Arial";color:#636363;text-decoration:none;text-transform:none;}
ul#product_list li div.center_block h3 a:hover {color:#f80823;}
ul#product_list li div.center_block h3 span.new {margin:0 7px 0 0;font:bold 11px "Arial";color:#f80823;text-transform:uppercase;}

ul#product_list li div.center_block div.availability {height:23px;padding:7px 0 0 0;} 
ul#product_list li div.center_block div.availability span {height:19px;display:block;float:left;padding:4px 10px 0 10px;background:#f3f3f3;font:normal 11px "Arial";color:#636363;text-transform:lowercase;}

ul#product_list li div.center_block div.product_desc {padding:17px 0 0 0;}
ul#product_list li div.center_block div.product_desc a {color:#9b9a97;text-decoration:none;}
ul#product_list li div.center_block div.product_desc a:hover {color:#636363;}

ul#product_list li div.right_block {width:115px;float:right;margin:0 12px 0 0;}

ul#product_list li div.right_block span.on_sale,
ul#product_list li div.right_block span.discount {display:block;padding:39px 0 0 0;font:bold 14px "Arial";color:#7b7b7b;text-transform:uppercase;text-align:right;}

ul#product_list li div.right_block span.price {display:block;padding:34px 0 8px 0;font:bold 15px "Arial";color:#7b7b7b;text-align:right;}

ul#product_list li div.right_block .exclusive {margin:0 0 10px 0;}


/* ————— pagination.tpl ————— */
div.pagination {height:20px;padding:21px 0 0 0;}
ul.pagination {float:left;padding:3px 0 0 0;}
ul.pagination li {float:left;margin:0 4px;}

ul.pagination li a {color:#9b9a97;text-decoration:none;}
ul.pagination li a:hover {color:#f80823;}

ul.pagination li.current span {font-weight:bold;color:#636363;}

ul.pagination li#pagination_previous {text-transform:lowercase;margin:0 10px 0 0;}
ul.pagination li#pagination_next {text-transform:lowercase;margin:0 0 0 10px;}

ul.pagination li#pagination_previous span,
ul.pagination li#pagination_next span {color:#9b9a97;cursor:default;}

ul.pagination li#pagination_previous a,
ul.pagination li#pagination_next a {font:bold 12px "Arial";color:#636363;}

ul.pagination li#pagination_previous a:hover,
ul.pagination li#pagination_next a:hover {color:#f80823;}

form.pagination select {width:45px;height:20px;float:right;padding:1px;border:1px solid #e1e1e1;font:normal 11px "Arial";color:#cac9c8;}
form.pagination label {display:block;float:right;padding:2px 10px 0 10px;color:#9b9a97;}
form.pagination a {width:30px;height:17px;display:block;padding:2px 0 0 0;float:right;background:#e51b22;font:bold 11px "Arial";color:#fff;text-decoration:none;text-align:center;text-transform:lowercase;}
form.pagination a:hover {background:#ce0303;}

form.pagination input {display:none;}


/* ————— product.tpl ————— */
#primary_block {}
#primary_block #pb-right-column {width:230px;float:left;padding:17px 0 0 0;}


/* product img */
#primary_block #image-block {width:230px;height:264px;}
#primary_block #image-block img#bigpic {width:228px;height:262px;cursor:pointer;border:1px solid #f5f5f5;}
#primary_block #image-block img#bigpic.jqzoom {cursor:crosshair;position:relative;}


/* views block */
#views_block {width:230px;height:78px;margin:10px 0 0 0;}
#thumbs_list {}
#thumbs_list ul {width:240px;overflow:hidden;}
#thumbs_list li {width:69px;height:78px;float:left;cursor:pointer;margin:0 0 0 11px;}
#thumbs_list li:first-child {margin:0;}
#thumbs_list li a img {width:67px;height:76px;border:1px solid #f5f5f5;}


/* usefull links */
#primary_block ul#usefull_link_block {padding:11px 0 0 0;}
#primary_block ul#usefull_link_block li {padding:4px 0 0 8px;background:url(../img/bullet_alt.gif) 0 8px no-repeat;}

#primary_block ul#usefull_link_block li a,
#primary_block ul#usefull_link_block span.span_link {text-decoration:underline;color:#b1b1b1;cursor:pointer;}

#primary_block ul#usefull_link_block li a:hover,
#primary_block ul#usefull_link_block span.span_link:hover {text-decoration:none;}


#primary_block #pb-left-column {width:210px;float:left;padding:17px 0 0 20px;}

/* short description */
#primary_block #short_description_block {}
#primary_block #short_description_content {font-size:12px;color:#9b9a97;}

#primary_block p.buttons_bottom_block {padding:0;}

#primary_block p.buttons_bottom_block a,
#primary_block p.buttons_bottom_block input {margin:18px 0 0 0;}


/* pack items */
#primary_block #short_description_block h3 {padding:17px 0 3px 0;font-size:12px;font-weight:bold;text-transform:uppercase;}
#primary_block #short_description_block .pack_content {padding:7px 0 0 0;font-size:10px;color:#777;}
#primary_block #short_description_block .pack_content a {}
#primary_block #short_description_block .pack_content p {padding:0;}


/* buy block */
#primary_block form#buy_block {padding:3px 0 0 0;}
#primary_block form#buy_block p {padding:0;}

#primary_block form#buy_block p.price {padding:0;}

#primary_block form#buy_block span.on_sale,
#primary_block form#buy_block span.discount {display:block;margin:14px 0 0 0;font:bold 14px "Arial";color:#7b7b7b;text-transform:uppercase;}

#primary_block form#buy_block span.our_price_display {display:block;margin:14px 0;}
#primary_block form#buy_block span#our_price_display {margin:0 3px 0 0;font:bold 12px "Arial";color:#636363;}

#primary_block form#buy_block div#other_prices {margin:12px 0;}
#primary_block form#buy_block div#other_prices p {margin:2px 0 0 0;}

#primary_block form#buy_block p#old_price {color:#777;text-decoration:line-through;}
#primary_block form#buy_block p#reduction_percent {color:#777;}

#primary_block form#buy_block p.pack_price {color:#777;}
#primary_block form#buy_block p.price-ecotax {color:#229922;}

#primary_block form#buy_block p#quantity_wanted_p {margin:14px 0 0 0;}
#primary_block form#buy_block p#quantity_wanted_p label {display:block;float:left;padding:2px 7px 0 0;color:#9b9a97;}

#primary_block form#buy_block p#availability_statut {margin:14px 0 0 0;}
#primary_block form#buy_block p#availability_statut span#availability_value {font-weight:bold;}

#primary_block form#buy_block p#pQuantityAvailable {margin:14px 0 0 0;font-weight:bold;}

#primary_block form#buy_block p#last_quantities {margin:14px 0 0 0;font-weight:bold;color:#f80823;}


/* tabs */
ul.idTabs {height:34px;padding:19px 0 0 0;clear:both;}
ul.idTabs li {float:left;margin:0 0 0 3px;}
ul.idTabs li:first-child {margin:0;}
ul.idTabs li a {width:230px;height:24px;display:block;padding:9px 0 0 0;background:#9b9a97;border:1px solid #d5d4d1;font:bold 12px "Arial";color:#fff;text-align:center;text-decoration:none;text-transform:uppercase;cursor:pointer;}
ul.idTabs li a.selected {background:#fff;border-bottom-color:#fff;color:#848484;}


/* tabs short */
ul.idTabsShort li a {width:145px;}
ul.idTabsShort li a.selected {}


/* quantity discount */
div#quantityDiscount {padding:14px 20px;background:#fff;border:1px solid #d5d4d1;}
div#quantityDiscount td {padding-top:3px;border:none;border-top:2px solid #ccc;}

div#quantityDiscount th,
div#quantityDiscount td {height:auto;padding:5px;background:none;border:none;}

div#quantityDiscount td {border-top:2px solid #ccc;font-weight:bold;color:#f80823;}


/* tabs contents */
div#more_info_sheets {padding:12px 20px;background:#fff;border:1px solid #d5d4d1;}


/* idTab1 (product description) */
div#idTab1 {padding:5px 0;color:#9b9a97;}
div#idTab1 p {padding:0;color:#9b9a97;}


/* idTab2 (data sheet) */
ul#idTab2 li {margin:5px 0;padding:0 0 0 10px;background:url(../img/bullet_alt.gif) 0 4px no-repeat;}
ul#idTab2 li span {font-weight:bold;}


/* idTab9 (attachments) */
ul#idTab9 li {margin:5px 0;padding:0 0 0 10px;background:url(../img/bullet_alt.gif) 0 4px no-repeat;}
ul#idTab9 li a {font-weight:bold;color:#636363;}


/* idTab4 (accessories) */
ul#idTab4 {padding:8px 0;}
ul#idTab4 li {height:80px;margin:20px 0 0 0;}
ul#idTab4 li:first-child {margin:0;}

ul#idTab4 li div.accessories_desc {width:280px;float:left;}
ul#idTab4 li div.accessories_desc a.product_image {width:80px;height:80px;display:block;float:left;margin:0 10px 0 0;}

ul#idTab4 li div.accessories_desc a {color:#636363;text-decoration:none;}
ul#idTab4 li div.accessories_desc a:hover {color:#f80823;;}
ul#idTab4 li div.accessories_desc h5 {margin:0 0 4px 0;text-transform:uppercase;}
ul#idTab4 li div.accessories_desc a.product_description {}

ul#idTab4 li div.accessories_price {width:114px;float:right;}
ul#idTab4 li div.accessories_price span.price {display:block;margin:0 0 2px 0;font:bold 12px "Arial";color:#636363;}
ul#idTab4 li div.accessories_price a {margin:0 0 5px 0;}


/* idTab5 (product comments) */
div#idTab5 p {margin:5px 0 !important;padding:0;}

div#idTab5 p.align_center {text-align:center;}

div#idTab5 p.align_right {height:11px;}
div#idTab5 p.align_right a {width:11px;height:0;padding:11px 0 0 0;overflow:hidden;display:block;float:right;background:url(../img/icon/delete.gif) 0 0 no-repeat;}

div#idTab5 fieldset {margin:0;padding:0 0 3px 0;}
div#idTab5 textarea#content {width:424px;height:120px;margin:2px 0 5px 0;}

div#idTab5 div.table_block {padding:0;}

div#idTab5 div.table_block th,
div#idTab5 div.table_block td {height:auto;padding:5px;background:none;border:none;}

div#idTab5 div.table_block td {border-top:2px solid #ccc;}


/* customizable products */
div.customization_block {padding:12px 20px;background:#fff;border:1px solid #d5d4d1;}

div.customization_block p,
div.customizationUploadBrowseDescription {margin:5px 0;padding:0;}

div.customization_block p img {margin:0 2px 0 0;}
div.customization_block h5 {margin:15px 0 5px 0;font-weight:bold;color:#777;text-transform:uppercase;}

div.customization_block ul li div.customizationUploadBrowse {margin:0 0 7px 0;}
div.customization_block ul li div.customizationUploadBrowse img {margin:0 7px 0 0;}

div.customization_block p#customizedDatas {margin:9px 0 15px 0;}


/* pack products list */
div#pack_product_list {padding:9px 0 0 0;}





/* ————— manufacturers-list.tpl && suppliers-list.tpl ————— */
ul#manufacturers_list,
ul#suppliers_list {padding:17px 0 0 0;}

ul#suppliers_list li,
ul#manufacturers_list li {height:78px;clear:both;margin:0 0 20px 0;padding:20px 0 0 0;border-top:2px solid #eee;}

ul#suppliers_list li:first-child,
ul#manufacturers_list li:first-child {padding:0;border:none;}

ul#suppliers_list li div.left_side,
ul#manufacturers_list li div.left_side {width:330px;float:left;}

ul#suppliers_list li div.right_side,
ul#manufacturers_list li div.right_side {width:115px;height:78px;float:right;position:relative;}

ul#suppliers_list li div.logo,
ul#manufacturers_list li div.logo {float:left;margin:0 10px 0 0;}

ul#suppliers_list li div.logo img,
ul#manufacturers_list li div.logo img {border:1px solid #eee;}

ul#suppliers_list li h3,
ul#manufacturers_list li h3 {padding:0;color:#9b9a97;}

ul#suppliers_list li h3 a,
ul#manufacturers_list li h3 a {font-weight:bold;color:#636363;}

ul#suppliers_list li div.right_side a.button,
ul#manufacturers_list li div.right_side a.button {position:absolute;right:0;bottom:0;}





/* —————————————————————————————— info pages —————————————————————————————— */
/* ————— sitemap.tpl ————— */
div.sitemap_block {width:30%;float:left;padding:0 3% 0 0;}
div.sitemap_block ul {padding-top:5px;}
div.sitemap_block ul li {padding:4px 0 0 10px;background:url(../img/sitemap-bullet.gif) 0 10px no-repeat;}

div.categTree {clear:both;overflow:hidden;padding:3px 0 0 0;}
div.tree_top {height:14px;margin:7px 0 0 0;padding:3px 0 0 28px;background:url(../img/sitemap-top.gif) -1px -1px no-repeat;}
div.tree_top a {font-weight:bold;text-transform:uppercase;}

div#center_column ul.tree li {border-left:solid 1px #a1a1a1;background:url(../img/sitemap-horizontal.gif) 0 12px no-repeat;margin:0 0 0 11px;padding:5px 0 0 16px;}
div#center_column ul.tree li ul {padding:2px 0 4px 0;}
div#center_column ul.tree li ul li {margin:0;}
div#center_column ul.tree a {padding-left:0;}
div#center_column ul.tree a.selected {font-weight:bold;}
div#center_column ul.tree li.last {background:url(../img/sitemap-last.gif) 0 0 no-repeat;border:none;padding:5px 0 0 17px;}


/* ————— contact-form.tpl ————— */
p#desc_contact0,
p#desc_contact1,
p#desc_contact2 {height:15px;padding:11px 0 0 157px;}

body#contact-form div#center_column form input#email {width:170px;}
body#contact-form div#center_column form textarea#message {width:250px;}
body#contact-form div#center_column form select#id_contact {width:174px;}
body#contact-form div#center_column form p.submit {padding-left:157px;}
*+html body#contact-form div#center_column form p.submit input {border:none !important;}





/* —————————————————————————————— account pages —————————————————————————————— */
/* ————— authentication.tpl ————— */
/* login / create account */
body#authentication #create-account_form {width:48%;clear:none;float:left;}
body#authentication #login_form {width:47.9%;clear:none;float:left;}

body#authentication #create-account_form h3,
body#authentication #login_form h3 {}

body#authentication #create-account_form h4,
body#authentication #login_form h4 {height:31px;padding:19px 0 0 0;}

body#authentication #create-account_form p.text,
body#authentication #login_form p.text,
body#authentication #create-account_form p.submit,
body#authentication #login_form p.submit {width:220px;height:38px;padding:12px 0 0 0;}

*+html body#authentication #create-account_form p.submit input {border:none;}
*+html body#authentication #login_form p.submit input {border:none;}

body#authentication #create-account_form label,
body#authentication #login_form label {display:block;clear:both;text-align:left;}

body#authentication #create-account_form input.text,
body#authentication #login_form input.text {width:190px;}

#authentication #create-account_form {margin:0 4% 0 0;}

body#authentication #login_form p.lost_password {padding:3px 0 0 0;}

/* account creation form */
body#authentication form#account-creation_form input.text, 
body#authentication form#account-creation_form textarea {width:170px;}

body#authentication form#account-creation_form #id_country, 
body#authentication form#account-creation_form #id_state {width:174px;}

body#authentication form#account-creation_form p.required_desc {padding-left:157px;}
body#authentication form#account-creation_form p.submit {padding:20px 0 0 157px;}
*+html body#authentication form#account-creation_form p.submit input {border:none;}

body#authentication form#account-creation_form select#days {width:45px;margin:0 8px 0 0;}
body#authentication form#account-creation_form select#months {width:85px;margin:0 8px 0 0;}
body#authentication form#account-creation_form select#years {width:58px;margin:0 8px 0 0;}

body#authentication form#account-creation_form span.form_info {line-height:19px;}


/* ————— password.tpl ————— */
body#password div#center_column form.std label {text-align:left;}
body#password div#center_column form.std input.text {width:216px;}
body#password div#center_column form.std p.submit {padding-left:157px;}
*+html body#password div#center_column form.std p.submit input {border:none;}


/* ————— my-account.tpl ————— */
body#my-account div#center_column ul#my_account_links {padding:3px 0 0 0;}
body#my-account div#center_column ul#my_account_links li {padding:12px 0 0 0;}
body#my-account div#center_column ul#my_account_links li img {margin:0 5px 0 0;display:inline-block;}


/* ————— addresses.tpl ————— */
ul.address {float:left;}

ul.item {width:48%;margin:17px 4% 0 0;}
ul.alternate_item {width:47.9%;margin:17px 0 0 0;}

ul.address li {padding:5px 0 0 8px;}
ul.address li.address_title {height:20px;padding:5px 0 0 8px;background:#eee;font:bold 12px "Arial";color:#636363;}
ul.address li.address_name {padding:8px 0 0 8px;font-weight:bold;color:#f80823;}

ul.address li.address_update a,
ul.address li.address_delete a {color:#f80823;}

body#addresses div.address_add {clear:both;padding:20px 0 0 0;}


/* ————— address.tpl ————— */
body#address div#center_column form.std p.text input,
body#address div#center_column form.std p.textarea textarea {width:170px;}

body#address div#center_column form.std p.select select {width:174px;}
body#address div#center_column form.std p#required_desc2 {padding-left:157px;}
body#address div#center_column form.std p.submit2 {padding:20px 0 0 157px;}
*+html body#address div#center_column form.std p.submit2 input {border:none;}


/* ————— identity.tpl ————— */
body#identity form.std input.text {width:170px;}
body#identity form.std select#days {width:45px;margin:0 8px 0 0;}
body#identity form.std select#months {width:85px;margin:0 8px 0 0;}
body#identity form.std select#years {width:58px;}
body#identity form.std p.required_desc {padding:20px 0 0 157px;}
body#identity form.std p.submit {padding:20px 0 0 157px;}
*+html body#identity form.std p.submit input {border:none;}

p#security_informations {padding:20px 0 0 157px;font-size:11px;}





/* —————————————————————————————— order pages —————————————————————————————— */
/* ————— order-steps.tpl ————— */
ul#order_step {width:435px;height:27px;margin:20px auto 15px auto;padding:0 0 0 40px;background:url(../img/step_start.png) 0 bottom no-repeat;}
ul#order_step li {width:90px;height:27px;float:left;background:url(../img/step_standard.png) 50% bottom no-repeat;text-align:center;}
ul#order_step li.step_current {background:url(../img/step_current.png) 50% bottom no-repeat;font-weight:bold;color:#f80823;}
ul#order_step li.step_todo {color:#777;}
ul#order_step li#step_end {width:70px;}
ul#order_step li#step_end {background:url(../img/step_end.png) left bottom no-repeat;}
ul#order_step li#step_end.step_current {background:transparent url(../img/step_end_current.png) left bottom no-repeat;}


/* ————— Order step 1: summary (shopping-cart.tpl) ————— */
body#order table.cart_last_product {width:350px;margin:0 auto;}
body#order table.cart_last_product tr th {background:#f80823;color:#fff;}
body#order table.cart_last_product tr td {border:none;}
body#order table.cart_last_product tr td.cart_product {width:45px;padding-right:14px;}

body#order table.std td:first-child a img {}
body#order table.std h5 a {font:bold 12px "Arial";color:#636363;text-decoration:none;}
body#order table.std h5 a:hover {color:#f80823;}

body#order table#cart_summary {}
body#order table#cart_summary tr td.cart_product {width:45px;}
body#order table#cart_summary tr td.cart_quantity p {padding:3px 0;font-weight:bold;text-align:center;}
body#order table#cart_summary tr td.cart_quantity a {height:9px;display:block;text-align:center;}

body#order table#cart_summary tr.customized_products td:first-child {}
body#order table#cart_summary tr.customized_products td ul.typedText li {padding:10px 0 0 0;}

body#order table#cart_summary tr th.cart_total,
body#order table#cart_summary tr td.cart_total {text-align:right;}

body#order table#cart_summary tr td.price,
body#order table#cart_summary td.cart_discount_price,
body#order table#cart_summary td.cart_discount_price span.price-discount,
body#order table#cart_summary td.price-discount {font-weight:bold;color:#f80823;text-align:right;}

/* voucher form */
body#order form#voucher fieldset {border:1px solid #eee;padding:10px;}
body#order form#voucher fieldset h4 {float:left;padding:6px 20px 0 0;}
body#order form#voucher fieldset p {float:left;padding:4px 20px 0 0;}
body#order form#voucher fieldset p.submit {padding:0;}
*+html body#order form#voucher fieldset p.submit input {border:0;}
body#order form#voucher fieldset label {float:left;text-align:right;padding:2px 7px 0 0;}

/* order carrier */
body#order div#order_carrier {border:1px solid #eee;margin:17px 0 0 0;padding:10px;}
body#order div#order_carrier h4 {float:left;padding:0 10px 0 0;}

/* cart navigation */
p.cart_navigation {height:29px;clear:both;padding:17px 0 0 0;}

p.cart_navigation .button,
p.cart_navigation .button_large {float:right;}

*+html p.cart_navigation .button {border:none;}
*+html p.cart_navigation .button_large {border:none;}

p.cart_navigation .exclusive,
p.cart_navigation .exclusive_large {float:left;}


/* ————— Order step 2: log in (authentication.tpl) ————— */


/* ————— Order step 3: addresses (order-address.tpl) ————— */
form#order_address {}

form#order_address p.select label {float:left;text-align:right;padding:2px 7px 0 0;}

form#order_address p.checkbox input {display:block;float:left;border:none;position:relative;top:1px;left:0;}
*+html form#order_address p.checkbox input {margin:-4px 0 0 -4px;}
form#order_address p.checkbox label {width:auto;padding:2px 15px 0 5px;}

form#order_address p#address_invoice_form a.button_large {margin:0 auto;}

form#order_address p.address_add {padding:17px 0 0 0;}

form#order_address div#ordermsg textarea {width:466px;}


/* ————— Order step 4: shipping (order-carrier.tpl) ————— */
form#form p.checkbox input {display:block;float:left;border:none;position:relative;top:1px;left:0;}
*+html form#form p.checkbox input {margin:-4px 0 0 -4px;}
form#form p.checkbox label {padding:2px 0 0 5px;}

form#form #gift_div {display:none;clear:both;}
form#form #gift_div label {display:block;}
form#form #gift_div textarea {width:466px;margin:12px 0 0 0;}

*+html form#form p.submit input {border:0;}


/* ————— Order step 5: payment (order-payment.tpl) ————— */
p.payment_module {display:block;padding:17px 0 0 0;}
.payment_module img {vertical-align:middle;margin:0 10px 0 0;}
.payment_module a {display:block;background:#fafafa;border:2px solid #ddd;padding:7px;text-decoration:none;}

.payment_module a:hover,
.payment_module a:focus,
.payment_module a:active {background:#fff;border:2px solid #f80823;}


/* ————— history.tpl ————— */
.color-myaccount,
a.color-myaccount {color:#f80823;}

body#history td.history_link a {font-weight:bold;}

body#history textarea {width:466px;}
*+html body#history p.submit input {border:none;}

body#history #block-history #block-order-detail table.std td.inputs input.order_qte_input {height:15px;padding:1px;float:left;}
body#history #block-history #block-order-detail table.std td.inputs label {display:block;float:left;padding:2px 0 0 7px;font-weight:bold;}

body#history #block-history h3 {padding:17px 0 0 0;}
body#history #block-history #block-order-detail {padding:0 0 12px 0;border-top:2px solid #f80823;border-bottom:2px solid #f80823;}
body#history div#order-detail-content table.std th.last_item {text-align:right;}
body#history form#sendOrderMessage {padding:3px 0 0 0;}


/* ————— order-slip.tpl ————— */
body#order-slip textarea {width:466px;}
*+html body#order-slip p.submit input {border:none;}

body#order-slip #block-history #block-order-detail table.std td.inputs input.order_qte_input {height:15px;padding:1px;float:left;}
body#order-slip #block-history #block-order-detail table.std td.inputs label {display:block;float:left;padding:2px 0 0 7px;font-weight:bold;}

body#order-slip #block-history h3 {padding:17px 0 0 0;}
body#order-slip #block-history #block-order-detail {padding:0 0 12px 0;border-top:2px solid #f80823;border-bottom:2px solid #f80823;}
body#order-slip div#order-detail-content table.std td.last_item {text-align:right;}
body#order-slip form#sendOrderMessage {padding:3px 0 0 0;}


/* ————— discount.tpl ————— */
td.discount_value {white-space:nowrap;}
body#discount div.center_column sup {vertical-align:top;font:normal 13px "Tahoma";color:#da0f00;}


/* ————— 404.tpl ————— */
body#page_404 p.error {border:2px solid #da0f00;background:#f5f5f5;margin:12px 0 0 0;padding:10px;line-height:32px;color:#636363;}
body#page_404 p.error img {margin:0 10px 0 0;}
body#page_404 p.text input.text {width:206px;}
body#page_404 p.submit {padding-left:157px;}





/* conditions & legal */
ul.shop_info {list-style-type:square!important;list-style-position:inside;padding:0.6em;margin-top:0.6em;margin-left:2em;border:1px solid #888;}
ul.shop_info li {padding-left:0.5em!important;padding-bottom:0.5em!important;}

/* module reversoform */
.account_creation #reverso-form {width:100%;}
.account_creation #reverso-form label {width:250px;text-align:left;margin-left:10px;}
.account_creation #reverso-form label#legend_reverso {clear:both;width:100%;font-size:10px;text-align:left;}
.account_creation #reverso-form input#reverso_form {margin-top:20px;}

/* module paypalapi */
.paypalapi_about {text-align:justify;}
.paypalapi_about ul {padding-left:20px;}





/* —————————————————————————————— footer styles —————————————————————————————— */
#footer {height:104px;clear:both;background:url(../img/bg_footer.png) 0 0 no-repeat;}


/* ————— blockvariouslinks.tpl ————— */
.block_various_links p {padding:44px 0 0 20px;color:#8c8c8c;}
.block_various_links p a {color:#8c8c8c;text-decoration:none;}
.block_various_links p a:hover {color:#222;}





/* —————————————————————————————— printable version —————————————————————————————— */
@media print {

* {background:none!important;background-color:white!important;}

div#left_column, div#right_column, div#footer, a.button, span.button , .button, ul#usefull_link_block, div#header_user, #languages_block_top,
#search_block_top, #currencies_block_top, ul#header_links, ul.idTabs, #availability_statut br {display:none;}

div#center_column {width:100%;}
input.text {border:1px solid gray;}
.block_hidden_only_for_screen {display: block;margin-top:1em;}
#more_info_sheets #idTab1 {width:530px;}

}
